---
title: API Reference

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>

search: true
---

# Introduction

SHOPBACK於2014年在新加坡成立，為東南亞最大的現金回饋網站。2017年正式在台灣上線，為消費者提供上百家網站的現金回饋，包括Yahoo!、樂天、FriDay、夠麻吉、生活市集等。詳情請見[官網](https://www.shopback.com.tw/)

SHOPBACK提供穩定的追蹤及回饋機制，讓每一個透過SHOPBACK到合作廠商完成購買的消費者，可以正確並即時的得到現金回饋。這一份文件包含用例(UseCase)，兩段API (Order API 和Validation API) 的結構說明，還有API範例。

SHOPBACK, founded in Singaporein 2014, is the leading cashback website in Southeast Asia. Launched in Taiwan in 2017, it has more than 300,000 members and provides cashback from hundreds of e-commerce websites, including Yahoo!, Rakuten, FriDay, GOMAJI, BUY123etc. For more details, please visit [SHOPBACK official website](https://www.shopback.com.tw/)

SHOPBACK’s tracking and rebate system provides our users with accurate and stable cashback after they complete their shopping experiences. This documentation contains 4 parts:Use Case, Order API, Validation API, and API demonstration.
  
<%= partial "includes/use_case_diagram.md.erb" %>

<%= partial "includes/OrderAPI.md" %>
<%= partial "includes/ValidationAPI.md" %>
<%= partial "includes/Demo.md" %>

