---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - javascript

toc_footers:
  #- <a href='#get-authentication-key'>Get Authentication Key</a>
  

search: true
---



<%= partial "includes/Intro.md.erb" %>

<%= partial "includes/serverIntegration/serverIntegration.md.erb" %>

<%= partial "includes/pixelImplement.md" %>